<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar bg-dark text-center">
        <form class="container-fluid justify-content-start">
          <button  class="btn btn-outline-success me-2" type="button"><a href="http://localhost:3000/autores" style="text-decoration:none ;">Autores</a> </button>
          <button class="btn btn-sm btn-outline-secondary" type="button"><a href="http://localhost:3000/libros" style="text-decoration:none;">Libros</a></button>
        </form>
      </nav>
    <div class="container">
        <div class="row mt-3">
            <div class="col-6">
                <h3 class="text-center text-danger mb-4">Agregar Libro</h3>
             <div class="mb-3">
                <form action="/libros" method="post">
                 <label for="exampleFormControlInput1" class="form-label">First Name</label>
                 <input type="text" name="titulo" class="form-control" id="exampleFormControlInput1" placeholder="Agrega un titulo">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Note</label>
                <textarea class="form-control" name="descripcion" id="exampleFormControlTextarea1" rows="3"></textarea>
                <div class="col-12 text-center mt-4">
                    <button type="submit" class="btn btn-outline-success ">Success</button>
                </div>
                </form>
            </div>
            </div>
            <div class="col-6">
                <h3 class="text-center text-danger mb-5">Lista de Libros</h3>
                <table class="table border border-info">
                    <thead >
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">titulo</th>
                        <th scope="col">descripcion</th>
                      </tr>
                    </thead>
                    <tbody class="libros">
                      {% for libro in  libros %}
                      <tr>
                        <td class="col-3">{{ libro.id }}</td>
                        <td class="col-3">{{ libro.titulo }}</td>
                        <td class="col-3"><button onclick="alert('{{ libro.descripcion }}')"> view</button></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                
            </div>
        </div>
    </div>
      <script src="../js/bootstrap.min.css"></script>
</body>
</html>